<!--
 * @Author: Pacific_D
 * @Date: 2022-11-25 15:46:09
 * @LastEditTime: 2022-11-28 22:20:32
 * @LastEditors: Pacific_D
 * @Description: 
 * @FilePath: \Parallel-voluntary-management\src\app\auth\auth.component.html
-->
<main class="page" id="auth-page">
  <!-- Left section -->
  <section class="left flex-col">
    <h2 @fadeInLeft class="font-cn">欢迎来到</h2>
    <h2 @fadeInRight class="font-cn">平行志愿管理系统</h2>
    <div @fadeIn>
      <ng-lottie [options]="animationOptions"></ng-lottie>
    </div>
  </section>
  <!-- Right section -->
  <section class="right flex-col">
    <h2 @fadeIn class="">管理员登录</h2>
    <d-toast [value]="msgs"></d-toast>
    <form
      id="auth-form"
      dForm
      ngForm
      [dValidateRules]="formRules['rule']"
      [layout]="layoutDirection"
      #userForm="dValidateRules"
      (dSubmit)="submitForm($event)"
    >
      <d-form-item>
        <d-form-control class="auth-control">
          <i class="icon icon-add-member"></i>
          <input
            dTextInput
            autocomplete="off"
            name="username"
            placeholder="请输入账户"
            [(ngModel)]="formData.userName"
            [dValidateRules]="formRules['usernameRules']"
          />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-control class="auth-control">
          <i class="icon icon-add-interface-use-case"></i>
          <input
            dTextInput
            dValidateSyncKey="password"
            type="password"
            name="password"
            [(ngModel)]="formData.password"
            placeholder="请输入密码"
            [dValidateRules]="formRules['passwordRules']"
          />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-control>
          <div class="auth-control auth-code-control flex">
            <i class="icon icon-go-cloud-ide"></i>
            <input
              dTextInput
              name="code"
              [(ngModel)]="formData.code"
              placeholder="请输入验证码"
              class="code-input"
            />
            <div id="v_container" (click)="refresh()" style="width: 100px">
              <canvas
                #verifyCanvas
                id="verifyCanvas"
                width="100"
                height="40"
                style="cursor: pointer"
              ></canvas>
              <a (click)="refresh($event)">看不清？</a>
            </div>
          </div>
        </d-form-control>
      </d-form-item>

      <d-form-operation class="form-bottom">
        <div class="flex">
          <d-button
            class="mr-element-spacing form-button"
            [title]="userForm.errorMessage || ''"
            circled="true"
            bsSize="lg"
            [bordered]="false"
            style="margin-right: 8px"
            dFormSubmit
            >Login</d-button
          >
          <d-button bsSize="lg" [bordered]="false" bsStyle="text" dFormReset>Reset</d-button>
        </div>
      </d-form-operation>
    </form>
  </section>
</main>
