#auth-page {
  display: flex;
  background-image: url("/assets/bg-light.jpg");
  background-position: center;
  object-fit: cover;
}

#auth-page .left {
  flex: 1;
  background-color: #edf1f4;
  justify-content: center;
}

#auth-page .left > img {
  margin-top: 32px;
  width: 72%;
}

#auth-page .left > h2 {
  box-sizing: border-box;
  width: 100%;
  margin: 0.4rem 0;
  padding: 0 8rem;
  color: var(--gray-800);
}

#auth-page .left > h2:nth-child(1) {
}

#auth-page .left > h2:nth-child(2) {
  margin-left: 12rem;
}

#auth-page .right {
  flex: 1;
  background-color: rgb(255 255 255 / 40%);
  backdrop-filter: blur(52px);
  justify-content: center;
}

#auth-page .right > h2 {
  font-size: 2rem;
  color: var(--gray-700);
  font-weight: 600;
}

#auth-form {
  --input-height: 2.8rem;
  margin: 2rem 0;
  padding: 0 2rem;
  width: 64%;
  background-color: var(--red-100);
  box-shadow: -2px 21px 53px rgba(0, 0, 0, 0.4);
  user-select: none;
  border-radius: 1rem;
}

#auth-form d-form-item {
  margin: 2rem 0;
}

#auth-form input {
  height: var(--input-height);
  font-size: 1rem;
  border-radius: 0.6rem;
  padding-left: 3rem;
}

#auth-form .auth-control {
  position: relative;
}

#auth-form .auth-control i {
  position: absolute;
  top: 0;
  left: 1rem;
  height: var(--input-height);
  line-height: var(--input-height);
  font-size: 1.3rem;
}

.auth-code-control {
  width: 100%;
  justify-content: space-between;
}

.code-input {
  width: 64%;
  /* margin-right: 7rem; */
}

#auth-form .form-bottom {
  margin-bottom: 2rem;
}

#auth-form .form-bottom > div {
  position: relative;
  width: 100%;
  justify-content: space-around;
}

#v_container {
  position: absolute;
  right: 0;
}

#v_container a {
  margin-top: 4px;
  margin-left: 25px;
  user-select: none;
  cursor: pointer;
}
